<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="{{site.charset}}" />
        <title>{{ wp_title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Ke Kilohana">
    <meta name="author" content="Ward Village">
    <!-- GOOGLE Verification Code -->
    <meta name="google-site-verification" content="pzUMssPMC41fwSV7TkBROqh_RNZn1IFH45nLIvK32Q4" />

    <!-- Favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{function('get_stylesheet_directory_uri')}}/img/optimized/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{function('get_stylesheet_directory_uri')}}/img/optimized/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{function('get_stylesheet_directory_uri')}}/img/optimized/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{function('get_stylesheet_directory_uri')}}/img/optimized/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{function('get_stylesheet_directory_uri')}}/img/optimized/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{function('get_stylesheet_directory_uri')}}/img/optimized/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{function('get_stylesheet_directory_uri')}}/img/optimized/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{function('get_stylesheet_directory_uri')}}/img/optimized/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{function('get_stylesheet_directory_uri')}}/img/optimized/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{function('get_stylesheet_directory_uri')}}/img/optimized/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{function('get_stylesheet_directory_uri')}}/img/optimized/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{function('get_stylesheet_directory_uri')}}/img/optimized/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{function('get_stylesheet_directory_uri')}}/img/optimized/favicon-16x16.png">
    <link rel="manifest" href="{{function('get_stylesheet_directory_uri')}}/img/optimized/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{function('get_stylesheet_directory_uri')}}/img/optimized/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Google Fonts & Maps
    ================================================== -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCkEupT_qOrQOY_W1IW_e1NG-basbTJv1o&callback=initMap"></script>

    <!-- MyFonts
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="{{function('get_stylesheet_directory_uri')}}/stylesheets/MyFontsWebfontsKit.css">
    <script src="//assets.adobedtm.com/e029b2bac37185abb9184b3305a2e84d3b470d2d/satelliteLib-279af6a949923a60ec8a555cc65c906db1202e16-staging.js"></script>
    <!-- Adobe Fonts from Typekit (Minion Pro)
    ================================================== -->
    <script src="//use.typekit.net/pfv4lxw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <!-- Fonts from Cloud Typography (Gotham)
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/7168274/7258952/css/fonts.css" />

    <!-- Font Awesome Icons
    ================================================== -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Custom Royal Slider Skin
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="{{function('get_stylesheet_directory_uri')}}/royalslider-js/skins/kekilohana/kekilohana.css?ver=4.4.2">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{function('get_stylesheet_directory_uri')}}/js/js.cookie.js"></script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-66504837-1', 'auto');
    ga('send', 'pageview');
    </script>
    {{function('wp_head')}}
