{% extends 'base.twig' %}

{% block content %}

  {% spaceless %}

  <style type="text/css">
  #announcements {
    padding-top: 150px;
    background-image: url( {{function('get_stylesheet_directory_uri')}}/img/optimized/pattern-triangle.png);
  }
  .gallery-white-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 75px;
    background-color: #ffffff;
    z-index: 1;
    opacity: 0.75;
  }
  </style>
  <script>
    var dates_array = [];
  </script>
  <div class="gallery-white-bar"></div>
  <div id="announcements">
    <div class="container" >
      <div class="content-text-wrapper">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="fade-in">Sales Announcements</h2>
            <div class="yellow-bar-divider"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <section id="cd-timeline" class="cd-container">
              {% for timeline_item in lottery.get_field('announcements') %}
                <!-- Check that show in timeline is true -->
                {% if timeline_item.timeline %}
                <!-- Build each timeline item -->
                <div class="cd-timeline-block" id="date-{{ timeline_item.date }}">
                  <div class="cd-timeline-img cd-picture">
                    <div class="cd-date">{{ timeline_item.date | timeline_date }}</div>
                  </div> <!-- cd-timeline-img -->

                  <div class="cd-timeline-content">
                    <h2>{{ timeline_item.title }}</h2>
                    <p>{{ timeline_item.content }}</p>
                    <script>
                      // Collect ACF dates, add dates to array
                      dates_array.push('{{ timeline_item.date }}')
                    </script>
                  </div> <!-- cd-timeline-content -->
                </div> <!-- cd-timeline-block -->
                {% endif %}
              {% endfor %}
            </section> <!-- cd-timeline -->
          </div>
        </div>
      </div>
    </div>
  </div>


  {% endspaceless %}

  <script>
  $(document).ready(function() {
    var current_date = moment().format('YYYYMMDD');
    for (var index = 0; index < dates_array.length; index++) {
      if ( current_date <= dates_array[index] && current_date > dates_array[index-1] ) {
        // Active announcement in timeline
        $('#date-' + dates_array[index]).addClass('active');
      } else if ( current_date < dates_array[index] ) {
        // Future announcement in timeline
        $('#date-' + dates_array[index]).addClass('future');
      } else if ( current_date == '20160325') {
        // First announcement in timeline on 3/25
        $('#date-' + dates_array[index]).addClass('active');
      } else {
        // Past announcement in timeline
        $('#date-' + dates_array[index]).addClass('expired');
      }
    }
  });
  </script>
  <!-- TODO Move into a JS file Include -->
  <script type="text/javascript">
  jQuery(document).ready(function($){
    var timelineBlocks = $('.cd-timeline-block'),
      offset = 0.8;

    //hide timeline blocks which are outside the viewport
    hideBlocks(timelineBlocks, offset);

    //on scolling, show/animate timeline blocks when enter the viewport
    $(window).on('scroll', function(){
      (!window.requestAnimationFrame)
        ? setTimeout(function(){ showBlocks(timelineBlocks, offset); }, 100)
        : window.requestAnimationFrame(function(){ showBlocks(timelineBlocks, offset); });
    });

    function hideBlocks(blocks, offset) {
      blocks.each(function(){
        ( $(this).offset().top > $(window).scrollTop()+$(window).height()*offset ) && $(this).find('.cd-timeline-img, .cd-timeline-content').addClass('is-hidden');
      });
    }

    function showBlocks(blocks, offset) {
      blocks.each(function(){
        ( $(this).offset().top <= $(window).scrollTop()+$(window).height()*offset && $(this).find('.cd-timeline-img').hasClass('is-hidden') ) && $(this).find('.cd-timeline-img, .cd-timeline-content').removeClass('is-hidden').addClass('bounce-in');
      });
    }
  });
  </script>

{% endblock %}
