{% extends 'base.twig' %}

  {% block content %}

    <style>
    #container-contact-us {
      background-image: url({{ TimberImage(post.get_field('contact_us_sidebar_image')).src }});
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .map-container {margin-bottom: 30px;}
    .acf-map {
      width: 100%;
      height: 546px;
      border: #ccc solid 1px;
      margin: 5px 0;
    }

    /* fixes potential theme css conflict */
    .acf-map img {
       max-width: inherit !important;
    }
    p.address { font-size: 15px; font-family: Oswald,sans-serif; }
    .gm-style-iw h4 {font-family: Oswald,sans-serif; font-weight: 700; font-size: 16;}
    #form-bg {
        padding-bottom: 0px;
    }
    @media (max-width: 768px) {
      .acf-map {
      height: 246px;
      }
    }
    </style>


      <div class="container-fluid" id="form-bg"><!-- container -->
        <div class="row">
          <div class="col-md-3" id="container-contact-us">
          </div>
          <div class="col-md-9">
            <h1>{{ post.post_title }}</h1>
            <div class="row">
              <div class="col-md-5 offset-1">
                <div class="map-container">
                  <div class="acf-map">
                    <div class="marker" data-lat="{{ post.get_field('google_map').lat }}" data-lng="{{ post.get_field('google_map').lng }}">
                      <h4>{{ post.get_field('location-name') }}</h4>
                      <p class="address">{{ post.get_field('google_map').address }}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <p>{{ post.contact_us_content }}</p>
              </div>
          </div>
        </div>
      </div>
<script src="{{function('get_stylesheet_directory_uri')}}/js/resize-contact-us.js"></script>
 {% endblock %}
